

.logo {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #7dd3fc;
  border-bottom: 1px solid #1f4e79;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

.link {
  padding: 15px 20px;
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.2s;
  border-left: 3px solid transparent;
}

.link:hover {
  background: rgba(125, 211, 252, 0.1);
  border-left: 3px solid #38bdf8;
  color: #ffffff;
}

.link.active {
  background: rgba(56, 189, 248, 0.2);
  border-left: 3px solid #38bdf8;
  color: #ffffff;
}


/* 🚪 Logout button */
.logout-btn {
  background: #ff4d4f;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #d9363e;
}

/* TOP BAR */
.topbar {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 71.5px;
  background: #0f172a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background: linear-gradient(180deg, #0f172a, #1e3a5f);
  z-index: 1000;
}

/* MAIN CONTENT (this is the key fix) */
.main-content {
  margin-left: 240px;
  margin-top: 60px;
  padding: 20px;
}